@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1 data-text="Welcome to Gym Management!" id="h1">Welcome to Gym Management!</h1>
    <p class="lead">Build your dream body in our gym.</p>
</div>
<div class="row">
    <div>
        <button class="button" onclick="openModal();currentSlide(1)">Gallery</button>
    </div>
</div>

<div id="myModal" class="modal">
    <span class="close cursor" onclick="closeModal()">&times;</span>
    <div class="modal-content">

        <div class="mySlides">
            <div class="numbertext">1 / 4</div>
            <img src="https://www.yanrefitness.com/wp-content/webpc-passthru.php?src=https://www.yanrefitness.com/wp-content/uploads/2021/07/Figure-1-Image-src-archilovers.jpg&nocache=1" style="width:100%" height="100%">
        </div>

        <div class="mySlides">
            <div class="numbertext">2 / 4</div>
            <img src="https://365gym.sk/wp-content/uploads/2021/07/13-1024x682-1.jpg" style="width:100%">
        </div>

        <div class="mySlides">
            <div class="numbertext">3 / 4</div>
            <img src="https://www.x-bionicsphere.com/wp-content/uploads/2022/01/WEB_PHOTO-23-800x800.jpg" style="width:100%">
        </div>

        <div class="mySlides">
            <div class="numbertext">4 / 4</div>
            <img src="https://www.fitnessfirst.co.uk/media/cm2jlwu2/fitnessfirst_interiors-bakerst_147_web.jpg?width=540&height=405&quality=80&rnd=132869859581330000" style="width:100%">
        </div>

        <a class="prevB" onclick="plusSlides(-1)">&#10094;</a>
        <a class="nextB" onclick="plusSlides(1)">&#10095;</a>

    </div>
</div>

<script>
    function openModal() {
        document.getElementById("myModal").style.display = "block";
    }

    function closeModal() {
        document.getElementById("myModal").style.display = "none";
    }

    var slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("demo");
        var captionText = document.getElementById("caption");
        if (n > slides.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = slides.length }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
        captionText.innerHTML = dots[slideIndex - 1].alt;
    }
</script>




