@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1 data-text="Welcome to Gym Management!" id="h1">Welcome to Gym Management!</h1>
    <p class="lead">Build your dream body in our gym.</p>
</div>
<div class="row">
    <div>
        <button class="button" onclick="openModal();currentSlide(1)">Gallery</button>
    </div>
</div>

<div id="myModal" class="modal">
    <span class="close cursor" onclick="closeModal()">&times;</span>
    <div class="modal-content">

        <div class="mySlides">
            <div class="numbertext">1 / 4</div>
            <img src="@Gym_Management.Constants.Gallery.Image1" alt="Image1" class="gallery-max-img">
        </div>

        <div class="mySlides">
            <div class="numbertext">2 / 4</div>
            <img src="@Gym_Management.Constants.Gallery.Image2" alt="Image2" class="gallery-max-img">
        </div>

        <div class="mySlides">
            <div class="numbertext">3 / 4</div>
            <img src="@Gym_Management.Constants.Gallery.Image3" alt="Image3" class="gallery-max-img">
        </div>

        <div class="mySlides">
            <div class="numbertext">4 / 4</div>
            <img src="@Gym_Management.Constants.Gallery.Image4" alt="Image4" class="gallery-max-img">
        </div>

        <a class="prevB" onclick="plusSlides(-1)">&#10094;</a>
        <a class="nextB" onclick="plusSlides(1)">&#10095;</a>

    </div>
</div>

<script>
    function openModal() {
        document.getElementById("myModal").style.display = "block";
    }

    function closeModal() {
        document.getElementById("myModal").style.display = "none";
    }

    var slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        if (n > slides.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = slides.length }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slides[slideIndex - 1].style.display = "block";
    }
</script>




