<div class="footer">
    <div class="footer-content">

        <div class="footer-menu">
            <ul class="f-menu">
                <li><a>@Html.ActionLink("Home", "Index", "Home")</a></li>
                <li><a>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</a></li>
                <li><a>@Html.ActionLink("Contact Us!", "Index", "Message")</a></li>
            </ul>
            <ul class="f-socials">
                <li><a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
                <li><a href="#"> <i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                <li><a href="#"> <i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>

            </ul>
        </div>
    </div>
</div>
