@model Gym_Management.Models.Management.WorkoutType

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>WorkoutType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<div class="action-link-button">
    @Html.ActionLink("Back to List", "Index")
    @if (User.IsInRole(Gym_Management.Constants.Roles.Admin))
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id })

    }

</div>
